HOST=<link of the server>
TOKEN=<token of the instance>
USE_PDDL=false
# Set USE_PDDL=true to use the online PDDL solver instead of BFS.
# Requires internet access to solver.planning.domains (or set PDDL_SOLVER to a custom URL).
# PDDL_SOLVER=https://solver.planning.domains/solve